body a:hover {
    text-decoration: none;
}
.w-100px {
    width: 100px;
}
.w-150px {
    width: 150px;
}
.pagination-custom .pagination {
    justify-content: end;
}
.table-responsive>.table-bordered {
    border-color: #d9dee3;
}
